{% extends 'base1/inicio.html' %}
{% load staticfiles %}
{% block subtitle %} 
    NUEVO <span style="color:#FC9C30">CAMPUS</span> 
    
{% endblock%}
{% block home %}
<li class="nav-item">
    <li><a href="{% url 'inicio:logeo' %}" class="nav-link"><i class="batch-icon batch-icon-browser-alt"></i> <span>Inicio</span></a>

</li>
{% endblock %}

{% block campus %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'campus:campus_listar' %}">
        <i class="batch-icon batch-icon-star"></i>
        Campus
    </a>
</li>
{% endblock %}
{% block extrastatic %}
<script>
        function zonapais() {
            document.getElementById("zona").innerHTML = "";
            var v=document.getElementById("pais").value;
            var option = document.createElement("option");
            option.text = "--SELECCIONE--";
            document.getElementById("zona").add(option);
            {% for z in  Zona%}
                var id_pais={{z.pais.id}}

                if(v==id_pais){

                    var op = document.createElement("option");
                    op.value = "{{z.pk}}";
                    op.text = "{{z.Nombre}}";
                    document.getElementById("zona").appendChild(op);
                }
            {% endfor %}

        }

    </script>
    <script>
         function zonaprovincia() {
            document.getElementById("prov").innerHTML = "";
            var pz=document.getElementById("zona").value;

            var opt = document.createElement("option");
            opt.text = "--SELECCIONE--";
            document.getElementById("prov").add(opt);
            {% for pro in  Provincia %}
                var id_zona={{pro.zona.id}}
                if(pz==id_zona){

                    var opti = document.createElement("option");
                    opti.value = "{{pro.pk}}";
                    opti.text = "{{pro.Nombre}}";
                    document.getElementById("prov").appendChild(opti);
                }
            {% endfor %}

        }
    </script>
{% endblock %}
{% block content %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 pb-5">
                        <form method="post">
                            {% csrf_token %}
                            
                        	 <div class="row">
                        		<div class="col-md-12">
                        			<div class="form-group">
                                        <label>País</label>
                                        <select class="form-control" id="pais" onchange="zonapais()">
                                            <option>--Seleccione--</option>
                                            {% for p in  Pais%}
                                            <option value="{{ p.pk }}">{{p.Nombre}}</option>

                                            {% endfor %}
                                        </select>
                                        </div>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-md-12">
                        			<div class="form-group">
                                        <label>Zona</label>
                                        <select class="form-control" id="zona" onchange="zonaprovincia()">
                                            <option>--Seleccione--</option>

                                        </select>
                                    </div>
                        		</div>
                        	</div>
                            <div class="row">
                        		<div class="col-md-12">
                        			<div class="form-group">
                                        <label>Provincia</label>
                                        <select class="form-control" id="prov"  name="provincia">
                                            <option>--Seleccione--</option>

                                        </select>
                                    </div>
                        		</div>
                        	</div>
                          	<div class="row">
                        		<div class="col-md-12">
                        			<div class="form-group">
                        				<label for="{{form.universidad.Nombre}}">{{form.universidad.label}}</label>
                                        {{form.universidad}}
                        			</div>
                        		</div>
                        	</div>
                            <div class="row">
                        		<div class="col-md-12">
                        			<div class="form-group input-field">
                        				<label>Nombre</label>
                        				<input class="form-control" type="text" name="Nombre">
                        			</div>
                        		</div>
                        	</div>

                        	<div class="row">
                        		<div class="col-md-12">
                        			<div class="form-group">
                        				<button class="btn btn-primary "type="submit">Guardar</button>
                                        <a class="btn btn-default" href="{% url 'campus:campus_listar' %}">Cancelar</a>
                        			</div>
                        		</div>
                        	</div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}