{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% block subtitle %}
    Eliminar <span style="color:#FC9C30">evento</span>

{% endblock%}
{% block home %}
<li class="nav-item">
    <li><a href="{% url 'inicio:logeo' %}" class="nav-link"><i class="batch-icon batch-icon-browser-alt"></i> <span>Inicio</span></a>

</li>
{% endblock %}

{% block evento %}
<li class="nav-item">
	<a class="nav-link active" href="{% url 'evento:lista_Evento' %}">
		<i class="batch-icon batch-icon-paper-roll-ripped"></i>
		Evento
	</a>
</li>
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <br><br>
    <h1>¿Desea eliminar el registro de {{object.Nombre}} ?</h1>
    <button class="btn btn-danger" type="submit">Si, eliminar</button>
    <a class="btn btn-default" href="{% url 'evento:lista_Evento' %}">Cancelar</a>
</form>
{% endblock %}